.myBG {
  height: 100vh;
  background: url("../assets/images/bg/venuses.png");
  background-size: cover;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.copyright {
  height: auto;
  margin: 5px;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.trending {
  height: auto;
  background: url("../assets/images/bg/tomlaiders.png");
  background-size: cover;
}

.bawahan {
  color: aqua;
}

.superhero {
  height: auto;
  background: url("../assets/images/bg/tomlaiders.png");
  background-size: cover;
}

.youtube {
  height: auto;
  background: url("../assets/images/bg/tomlaiders.png");
  background-size: cover;
}

.movieImage {
  height: auto;
  background-color: rgb(24, 177, 160);
  margin: 5px;
  padding: 5px;
}

.buttons {
  background-color: aqua;
}

.text-left {
  font-style:normal;
  font-variant:unset;
}

.text-center {
  color: tomato;
}

.images {
  height: 500px;
}
